<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.omprakash.sublime">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="net.anvisys.NestIn.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logomain"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Recharge.Zee5Activity"></activity>
        <activity android:name=".Recharge.ReebokActivity" />
        <activity android:name=".Recharge.SukhhiActivity" />
        <activity android:name=".Recharge.MedLifeActivity" />
        <activity android:name=".Recharge.FabHotelsActivity" />
        <activity android:name=".Recharge.BookMyFlavoursActivity" />
        <activity android:name=".Recharge.GiftAloveActivity" />
        <activity android:name=".Recharge.PaperFryActivity" />
        <activity android:name=".Recharge.PizzaHutActivity" />
        <activity android:name=".Recharge.CleartripActivity" />
        <activity android:name=".Recharge.NutrafyActivity" />
        <activity android:name=".Recharge.Gud2Activity" />
        <activity android:name=".Recharge.FirstCryActivity" />
        <activity android:name=".Recharge.JockeyActivity" />
        <activity
            android:name=".RegisterPaidActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.UserListActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".TreeViewActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.GoibiboActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.CouponRequestActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.CouponActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.BinaryIncomeActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.SWalletHistoryActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.EWalletHistoryActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".RefferActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".PaymentHistoryActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".OrdersActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.NNNOActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.NetMaedsActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.MakemyTripActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.OyoActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.BigrockActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.RydonActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.EthicActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".Recharge.ThemeParkActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.GiftActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".DashboardActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.DTHActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.BroadbandActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.InsuranceRenualActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.WaterActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.GasBillActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.ElectricityBillActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.MobilePostpaidActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>