<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sublime.sublimecash.sublime">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logomain"
        android:label="@string/app_name"
        android:networkSecurityConfig="@layout/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.sublime.sublimecash.sublime.AddsActivity"></activity>
        <activity
            android:name="com.sublime.sublimecash.sublime.AEPSActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.MoneyTransferActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.AddMoneyActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.PayLandlineBillActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.Recharge.LandlineActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.LandlineActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.NotificationActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.BagActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.GiftBuyActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.Recharge.GiftActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.RechargeHistoryActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.Recharge.MobilePostpaidActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.Zee5Activity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.ReebokActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.SukhhiActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.MedLifeActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.FabHotelsActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.BookMyFlavoursActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.GiftAloveActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.PaperFryActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.PizzaHutActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.CleartripActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.NutrafyActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.Gud2Activity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.FirstCryActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.Recharge.JockeyActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.RegisterPaidActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.UserListActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.TreeViewActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.GoibiboActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.CouponRequestActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.CouponActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.BinaryIncomeActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.SWalletHistoryActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.EWalletHistoryActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.RefferActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.PaymentHistoryActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.OrdersActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.NNNOActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.NetMaedsActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.MakemyTripActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.OyoActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.BigrockActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.RydonActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.EthicActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.EditProfileActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.ProfileActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.ThemeParkActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.GiftActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.DashboardActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.DTHActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.BroadbandActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.InsuranceRenualActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.WaterActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.GasBillActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.ElectricityBillActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.Recharge.MobilePostpaidActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.ProfileActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.LoginActivity" />
        <activity
            android:name="com.sublime.sublimecash.sublime.RegisterActivity"
            android:parentActivityName="com.sublime.sublimecash.sublime.LoginActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.HomeActivity" />
        <activity android:name="com.sublime.sublimecash.sublime.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>