<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sublime.sublimecash.sublime">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logomain"
        android:label="@string/app_name"
        android:networkSecurityConfig="@layout/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".HistoryActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".EditBankdetailsActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".E_Commerce.ProductDetailsActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".AddressProofActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".KYCActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".E_Commerce.SareesActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".PayMentGateWay"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".History.DirectBonazaActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".History.ROIIncomeActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".History.RewardsActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".History.DailyIncomeActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".E_Commerce.WomensActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".E_Commerce.MensActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.ElectricityBillPayActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.GasBillPayActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".PaymentStatusActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.LandlineBillActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.BroadbandBillActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.DTHRechargeActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.PostpaidActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.PrepaidRechargeActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.PrepaidActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.MoneyTransferlistActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.AddBenefisiaryActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.OtpForRemitterActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".MoneyTransferAddActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".AddsActivity" />
        <activity
            android:name=".AEPSActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.MoneyTransferActivity"
            android:parentActivityName=".HomeActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Recharge.AddMoneyActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.LandlineActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".NotificationActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.BagActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.GiftBuyActivity"
            android:parentActivityName=".Recharge.GiftActivity" />
        <activity
            android:name=".Recharge.RechargeHistoryActivity"
            android:parentActivityName=".Recharge.MobilePostpaidActivity" />
        <activity
            android:name=".Recharge.Zee5Activity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.ReebokActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.SukhhiActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.MedLifeActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.FabHotelsActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.BookMyFlavoursActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".Recharge.GiftAloveActivity" />
        <activity
            android:name=".Recharge.PaperFryActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.PizzaHutActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.CleartripActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.NutrafyActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.Gud2Activity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.FirstCryActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.JockeyActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".RegisterPaidActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.UserListActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".TreeViewActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.GoibiboActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.CouponRequestActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.CouponActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.BinaryIncomeActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.SWalletHistoryActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.EWalletHistoryActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".RefferActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".PaymentHistoryActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".OrdersActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.NNNOActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.NetMaedsActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.MakemyTripActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.OyoActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.BigrockActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.RydonActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.EthicActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".Recharge.ThemeParkActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.GiftActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".DashboardActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.DTHActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.BroadbandActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.InsuranceRenualActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.WaterActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.GasBillActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.ElectricityBillActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Recharge.MobilePostpaidActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.sublime.sublimecash.sublime.RegisterActivity$InstallReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>
</manifest>